# dependencies
node_modules/
**/node_modules/
.pnpm-store/
.npm/
.yarn/*
.yarn/cache/
.yarn/unplugged/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnp
.pnp.*

# build and test outputs
.next/
out/
build/
dist/
**/dist/
coverage/
**/coverage/
.turbo/
**/.turbo/
playwright-report/
test-results/

# misc
.DS_Store
*.pem

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (allow examples)
.env
.env.*
!.env.example
!.env-example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
